/*
	Theme Name: RealHomes Theme
	Theme URI: http://alt-realhomes.inspirythemes.com
	Description: A nice, clean and feature rich theme for Real Estate Websites.
	Author: Inspiry Themes
	Author URI: http://www.inspirythemes.com/
	Version: 1.3.3
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: custom-background, threaded-comments, translation-ready, light, one-column, two-columns, three-columns, four-columns, custom-menu, theme-options

	----------------------------------------------------------------------------------------------------------------*/

 #socialmediabuttons {text-align: left; float: left; margin: 0 auto; display:block;} 
.main {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  margin-bottom: 30px;
  width: 1200px;
}